package components

templ Header() {
    <nav>
        <div class="logo-container">
            <a class="logo-title link">BudgetBuddy</a>
        </div>
        <div class="nav-options">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </div>
    </nav>
}
