package user

import (
    "github.com/TvGelderen/budget-buddy/view/layout"
    "github.com/TvGelderen/budget-buddy/model"
)

templ Show(user model.User) {
    @layout.Base(user) {
        <h2>User: { user.Username }</h2>
    }
}
