@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

#nav-bar {
    margin-left: -320px;
    transition: margin-left 0s ease-in-out;
}

#nav-bar + .nav-bar-backdrop {
    display: none;
}

#nav-bar[open] {
    margin-left: 0;
    transition: margin-left 0.4s ease-in-out;
}

#nav-bar[open] + .nav-bar-backdrop {
    display: block;
}

/* md */
@media (min-width: 768px) {
    #nav-bar {
        margin-left: 0;
        transition: margin-left 0s ease-in-out;
    }

    .nav-bar-backdrop,
    #nav-bar[open] + .nav-bar-backdrop {
        display: none;
    }
}

#user-dropdown:not([open]) > div {
    display: none;
}

.button {
    @apply px-4 py-2 rounded-md bg-white/[.1] hover:bg-theme/75;
}

