package layout

import (
    "github.com/TvGelderen/budget-buddy/view/components"
    "github.com/TvGelderen/budget-buddy/model"
)

templ Base(user model.User) {
	@Page() {
		@components.Header(user)
		<div class="w-[calc(100%-1rem)] max-w-[1400px] mx-auto my-4">
			{ children... }
		</div>
	}
}
