package layout

templ Page() {
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <title>BudgetBuddy</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
        <script type="text/javascript" src="/assets/js/htmx.min.js" />
      </head>
      <body>
        { children... }
      </body>
    </html>
}
