package pages

import (
    "github.com/TvGelderen/budget-buddy/view/layout"
    "github.com/TvGelderen/budget-buddy/model"
	"github.com/TvGelderen/budget-buddy/view/components"
)

templ Dashboard(user model.User) {
    @layout.Base(user) {
        @components.AddTransaction()
    }
    <div hx-get="/api/transactions" hx-trigger="load delay:0s"></div>
}
