package pages

import (
    "github.com/TvGelderen/budget-buddy/view/layout"
    "github.com/TvGelderen/budget-buddy/model"
)

templ Login(user model.User) {
    @layout.Base(user) {
        <div>
            <h1>Login</h1>
        </div>
    }
}
