package transaction

templ Add() {
	<button class="button secondary flex items-center" onclick="toggleModal('add-transaction-modal')">
		<span class="material-symbols-outlined text-md mr-2">add</span> Add transaction
	</button>
    @Form("add-transaction-modal", "POST", "Add transaction")
}
